<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Controle Financeiro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
</head>

<body>

  <!-- CABEÇALHO COM TÍTULO -->
  <header>
    <h1>Sistema de Controle Financeiro</h1>
    <p>Gerencie suas finanças pessoais com segurança</p>
  </header>

  <!-- MAIN COM FORMULÁRIOS -->
  <main>
    <div id="Corpo_Do_Formulario">

      <!-- LOGIN -->
      <form action="{{ url_for('login') }}" method="post" id="Entrar_Na_Conta">
        <h2>Entrar</h2>

        <label for="Email_Valido">Email
          <input type="email" name="Email_Valido" id="Email_Valido" placeholder="seu@email.com" required>
        </label>

        <label for="Senha_Valida">Senha
          <input type="password" name="Senha_Valida" id="Senha_Valida" placeholder="Digite sua senha" required>
        </label>

        <button type="submit">CONFIRMAR</button>
      </form>

      <button id="se_cadastrar" onclick="INSERIRoEMAIL('add')">Ainda não tenho uma conta</button>

      <!-- CADASTRO -->
      <form action="{{ url_for('register') }}" id="Cadastrar_Conta" method="POST">
        <h2>Criar Conta</h2>
        <p class="linha_branca"></p>
        <p>Insira as informações abaixo para se cadastrar</p>

        <label for="Cadastrando_Email">Email
          <input type="email" name="Cadastrando_Email" id="Cadastrando_Email" placeholder="seu@email.com" required>
        </label>

        <label for="Cadastrando_Senha">Senha
          <input type="password" name="Cadastrando_Senha" id="Cadastrando_Senha" placeholder="Digite sua senha"
            required>
        </label>

        <label for="Confirmando_Senha">Repetir Senha
          <input type="password" name="Confirmando_Senha" id="Confirmando_Senha" placeholder="Confirme sua senha"
            required>
        </label>

        <button type="submit">CONFIRMAR</button>
      </form>

    </div>
  </main>

  <!-- SCRIPTS -->
  <script>
    function INSERIRoEMAIL(tipo) {
      const add = document.getElementById("Cadastrar_Conta");
      add.classList.add("mostrar");
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</body>

</html>